.about-content {
  display: grid;
  justify-items: center;
  gap: 30px;
  @media (min-width: 834px) {
    grid-template-columns: 1fr 1fr;
  }
}
.about-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  margin-bottom: 50px;

  color: var(--secondory-font-color);
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
.about.section {
  padding-top: 0;
}
.about-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  margin-bottom: 30px;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}
.about-thumb {
  position: relative;
}
.bg-thumb {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.bg-thumb::before {
  content: "";
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  @media screen and (min-width: 410px) {
    width: 370px;
  }
}
.about-text {
  position: absolute;
  padding-left: 20px;
  width: 100%;
  max-width: 280px;

  color: var(--main-light-color);
  font-weight: 700;
  font-size: clamp(0.688rem, 0.268vw + 0.634rem, 0.875rem);
  line-height: clamp(1.031rem, 0.402vw + 0.951rem, 1.313rem);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.about-img {
  border-radius: 30px 30px 0 0;
}
.about-picture {
  border-radius: 50px;
}

/* FAQ */
.faq-wrapper {
  display: grid;
  gap: 20px;
  @media (min-width: 834px) {
    grid-template-columns: 396px 1fr;
  }
}
.faq-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.faq-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px;

  border-bottom: 1px solid var(--boder-bg-color);
  border-radius: 8px;
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}
.faq-question {
  width: 100%;
  max-width: 250px;
  margin-bottom: 10px;


  font-size: clamp(1.75rem, 0.536vw + 1.643rem, 2.125rem);
  line-height: clamp(2.625rem, 0.804vw + 2.464rem, 3.188rem);
  font-weight: 700;
}
.faq-answer {
  font-size: clamp(1.125rem, 0.179vw + 1.089rem, 1.25rem);
  line-height: clamp(1.688rem, 0.268vw + 1.634rem, 1.875rem);
  text-align: justify;
}

