.hero-title {
  width: 100%;
  max-width: 680px;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  font-size: clamp(2.625rem, 4.821vw + 1.661rem, 6rem);
  line-height: clamp(2.363rem, 4.339vw + 1.495rem, 5.4rem);
} 
.hero-section {
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding: 350px 0;
  background-image: url("../../img/hero-bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
